:root{
    --p-color: black;
    --p-trans-color: rgba(0, 0, 0, 0.92);
    --s-color: #E50914;
    --a-color: rgb(255,193,7);
    --a-trans-color: rgba(255,193,7,0.5);
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #loading{
    margin-top: 15rem;
    margin-bottom: 10rem;
  }